@{
    ViewBag.Title = "Acerca de Nosotros";
}
<h2>Nuestro Compromiso </h2>
<h3>Nosotros tratamos de brindarte la mejor experiencia en el cine con lo mojeres extrenos de lo mejor de lo mejor con nuestras mejoreres salas ademáss de contar con la mejor tecnologia de punta en nuestras salas, contamos con una basta variedad de productos de dulcerias y con nuestro personal apasitado que pueda permitirle darle una sensación única cada vez que quira entrar a una función. </h3>


