@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>
<h3>Nuestra Página de Contacto</h3>

<address>
    Dirección<br />
    Lazaro Cardenas 520, 22534 Tijuana, Baja California<br />
    <abbr title="Télefono">P:</abbr>
    664-6698-958-959-985
</address>

<address>
    <strong>Soporte:</strong>   <a href="Licenale@hotmail.com">SupportCinefilos@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="Cinefilos@hotmail.com">MarketingCinefilos@Hotmail.com</a>
</address>