@{ ViewBag.Title = "Inicio";}

<div class="row justify-content-lg-center">
    <h3 class="text-black-50">Inicio</h3>
</div>
<div class="container">

    <div class="row justyfy align-content-between">
        <div class="col-md-6 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2016/01/22/08/17/banner-1155437_1280.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cartelera</h5>
                    <p class="card-text">Un pequeño viztazo a nuestraa cartelera de nuestra funciones actuales</p>
                    <a href="#" class="table sm tasble-striped table-hover">Dale Click Aquí</a>
                </div>
            </div>
    </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2016/06/03/12/42/film-roll-1433330_1280.jpg" class="card-img-top" alt="https://localhost:44385/Cartelera">
                <div class="card-body">
                    <h5 class="card-title">Acerca de Nossotros</h5>
                    <p class="card-text">Nuestra importancia de lo que es la atención sobre nuestros clientes</p>
                    <a href="#" class="table sm tasble-striped table-hover">Dale Click Aquí</a>
                </div>
            </div>
        </div>

        </div>
    </div>







