@{
    ViewBag.Title = "Index";
}

<h2>Cartelera</h2>
<div class="row justify-content-lg-center">
    <h3 class="text-black-50">Inicio</h3>
</div>
<div class="container">

    <div class="row justyfy align-content-between">
        <div class="col-md-6 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2014/12/09/20/27/child-562297__340.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Una Rusa más Busa</h5>
                    <p class="card-text">En esta pelícua de drama narra las desvetura de Olga Yvgivhch tratando de luchar en pleno surgimiento del socialsmo.</p>
                    <a href="#" class="table sm tasble-striped table-hover">Compra tus boletos Aquí </a>
                    <thead>
                        <tr>
                            <th>Clasificación y </th>
                        </tr>
                        <th>Precio </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>B15</td>
                            <td>$65</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2019/04/17/16/12/man-4134645_1280.jpg" class="card-img-top" alt="https://localhost:44385/Cartelera">
                <div class="card-body">
                    <h5 class="card-title">Más duro que nunca.</h5>
                    <p class="card-text">En esta desenfrenada aventura, John MC.Cornick tiene una deuda de venganza que pagar.</p>
                    <a href="#" class="table sm tasble-striped table-hover">Compra tus boletos Aquí</a>
                    <thead>
                        <tr>
                            <th>Clasificación y </th>
                        </tr>
                        <th>Precio </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>C</td>
                            <td>$65</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="row justyfy align-content-between">
    <div class="col-md-6 mb-2">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2014/06/12/14/35/zombie-367517_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">CPocesión endemoniada</h5>
                <p class="card-text">Un pequeño ha sido maldecido por un demonio te atreves a verla</p>
                <a href="#" class="table sm tasble-striped table-hover">Compra tus boletos Aquí</a>
                <thead>
                    <tr>
                        <th>Clasificación y </th>
                    </tr>
                    <th>Precio </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>C</td>
                        <td>$65</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
 
<div class="row justyfy align-content-between">
    <div class="col-md-6 mb-2">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2015/07/02/10/44/crow-828944_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Corvux Corax</h5>
                <p class="card-text">Un pequeño viztazo a este documental sobre el cuervo comcún</p>
                <a href="#" class="table sm tasble-striped table-hover">Compra tus boletos Aquí</a>
                <thead>
                    <tr>
                        <th>Clasificación y </th>
                    </tr>
                    <th>Precio </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AA</td>
                        <td>$65</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
    <div class="row justyfy align-content-between">
        <div class="col-md-6 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2015/03/14/19/45/suit-673697_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">El Pistolero Bananero</h5>
                    <p class="card-text">Esta Bien armad, Bien armado y con un plátano de arma.</p>
                    <a href="#" class="table sm tasble-striped table-hover">Compra tus boletos Aquí</a>
                    <thead>
                        <tr>
                            <th>Clasificación y </th>
                        </tr>
                        <th>Precio </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>C</td>
                            <td>$65</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justyfy align-content-between">
            <div class="col-md-6 mb-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_1280.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">El Instructor</h5>
                        <p class="card-text">Vive una apasionante historia con Billy el mejor instructor de New York.</p>
                        <a href="#" class="table sm tasble-striped table-hover">Compra tus boletos Aquí</a>
                        <thead>
                            <tr>
                                <th>Clasificación y </th>
                            </tr>
                            <th>Precio </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>B</td>
                                <td>$65</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
